global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    client: "demo-client"

remote_write:
  - url: "http://3.111.71.74:10908/api/v1/receive"

scrape_configs:

  #### Job 1: Node Exporter (Infrastructure) - ALL Linux Servers ####
  - job_name: "node-linux"
    ec2_sd_configs:
      - region: "ap-south-1"
    relabel_configs:
      - source_labels: [__meta_ec2_tag_OS]
        regex: linux
        action: keep
      - source_labels: [__meta_ec2_tag_Name]
        regex: (pdemo-linux-server|pdemo-linux-server-2|pdemo-miscellaneous-server)
        action: keep
      - source_labels: [__meta_ec2_tag_Type]
        target_label: Type
        action: replace
      - source_labels: [__meta_ec2_private_ip]
        regex: (.*)
        replacement: ${1}:1784
        target_label: __address__
      - source_labels: [__meta_ec2_tag_Name]
        target_label: nodename
      - target_label: "Organisation_Id"
        replacement: "96"
      - target_label: "raiseOnBehalfOf"
        replacement: "priyeshrai.delhi@gmail.com"
      - target_label: "ClientName"
        replacement: "demo-client"
      - target_label: "cust_email_id"
        replacement: "priyeshrai.delhi@gmail.com"
      - source_labels: [__meta_ec2_tag_maintenance]
        target_label: maintenance
        action: replace
        regex: (.*)

  #### Job 2: Node Exporter (Infrastructure) - ALL Windows Servers ####
  - job_name: "node-windows"
    ec2_sd_configs:
      - region: "ap-south-1"
    relabel_configs:
      - source_labels: [__meta_ec2_tag_OS]
        regex: windows
        action: keep
      - source_labels: [__meta_ec2_private_ip]
        regex: (.*)
        replacement: ${1}:9182
        target_label: __address__
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance_name
      - target_label: "Organisation_Id"
        replacement: "96"
      - target_label: "raiseOnBehalfOf"
        replacement: "priyeshrai.delhi@gmail.com"
      - target_label: "ClientName"
        replacement: "demo-client"
      - target_label: "cust_email_id"
        replacement: "priyeshrai.delhi@gmail.com"
      - source_labels: [__meta_ec2_tag_maintenance]
        target_label: maintenance
        action: replace
        regex: (.*)

  #### Job 3: Process Exporter (Workload) - ONLY Server 1 (Systemd) ####
  - job_name: "process-exporter"
    ec2_sd_configs:
      - region: "ap-south-1"
    relabel_configs:
      - source_labels: [__meta_ec2_tag_OS]
        regex: linux
        action: keep
  # Target the servers based on instance name
      # - source_labels: [__meta_ec2_tag_Name]
        # regex: (pdemo-linux-server)
        # action: keep
      - source_labels: [__meta_ec2_tag_ScrapeType]
        regex: process_exporter
        action: keep

      - source_labels: [__meta_ec2_private_ip]
        regex: (.*)
        replacement: ${1}:9256
        target_label: __address__
      - source_labels: [__meta_ec2_tag_Name]
        target_label: nodename
      - source_labels: [__meta_ec2_tag_Type]
        target_label: Type
      - target_label: "Organisation_Id"
        replacement: "96"
      - target_label: "raiseOnBehalfOf"
        replacement: "priyeshrai.delhi@gmail.com"
      - target_label: "ClientName"
        replacement: "demo-client"
      - target_label: "cust_email_id"
        replacement: "priyeshrai.delhi@gmail.com"
      - source_labels: [__meta_ec2_tag_maintenance]
        target_label: maintenance

  #### Job 4: cAdvisor (Workload) - ONLY Server 2 (Docker) ####
  - job_name: "docker-containers"
    ec2_sd_configs:
      - region: "ap-south-1"
    relabel_configs:
      - source_labels: [__meta_ec2_tag_OS]
        regex: linux
        action: keep
  # Target the servers based on instance name
      # - source_labels: [__meta_ec2_tag_Name]
        # regex: (pdemo-linux-server-2)
        # action: keep
      - source_labels: [__meta_ec2_tag_ScrapeType]
        regex: docker_containers
        action: keep
        
      - source_labels: [__meta_ec2_private_ip]
        regex: (.*)
        replacement: ${1}:8080
        target_label: __address__
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance_name
      - source_labels: [__meta_ec2_tag_Type]
        target_label: Type
      - target_label: "Organisation_Id"
        replacement: "96"
      - target_label: "raiseOnBehalfOf"
        replacement: "priyeshrai.delhi@gmail.com"
      - target_label: "ClientName"
        replacement: "demo-client"
      - target_label: "cust_email_id"
        replacement: "priyeshrai.delhi@gmail.com"
      - source_labels: [__meta_ec2_tag_maintenance]
        target_label: maintenance

# Alert rules
rule_files:
  - "/etc/prometheus/EC2-alerts.yml"

# AlertManager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]