global:
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_from: 'priyesh.delhi96@gmail.com'
  smtp_auth_username: 'priyesh.delhi96@gmail.com'
  smtp_auth_password: 'uszu xrck sjor ebrn'
  smtp_require_tls: true

templates:
  - '/etc/alertmanager/templates/*.tmpl'

route:
  group_by: ['alertname','environment']
  receiver: email-alert
  group_wait: 5s
  group_interval: 10s
  repeat_interval: 3m

receivers:
  - name: email-alert
    email_configs:
      - to: 'priyeshrai.delhi@gmail.com'
        send_resolved: true