global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    client: "demo-client"

remote_write:
  - url: "http://3.111.71.74:10908/api/v1/receive"

scrape_configs:

  #### Node Linux on AWS EC2 ####
  - job_name: "node-linux"
    ec2_sd_configs:
      - region: "ap-south-1"

    relabel_configs:
      # Keep only Linux instances
      - source_labels: [__meta_ec2_tag_OS]
        regex: linux
        action: keep

      #  Filter only required EC2 Name tags
      - source_labels: [__meta_ec2_tag_Name]
        regex: (pdemo-linux-server|pdemo-linux-server-2|pdemo-miscellaneous-server)
        action: keep

      # Pass EC2 Type tag into Prometheus label
      - source_labels: [__meta_ec2_tag_Type]
        target_label: Type
        action: replace

      # Map private IP to node_exporter port 1784
      - source_labels: [__meta_ec2_private_ip]
        regex: (.*)
        replacement: ${1}:1784
        target_label: __address__

      # Use instance name from EC2 'Name' tag
      - source_labels: [__meta_ec2_tag_Name]
        target_label: nodename

      # Add static labels for alerts
      - target_label: "Organisation_Id"
        replacement: "96"
      - target_label: "raiseOnBehalfOf"
        replacement: "priyeshrai.delhi@gmail.com"
      - target_label: "ClientName"
        replacement: "demo-client"
      - target_label: "cust_email_id"
        replacement: "priyeshrai.delhi@gmail.com"

      # maintenance tag passthrough
      - source_labels: [__meta_ec2_tag_maintenance]
        target_label: maintenance
        action: replace
        regex: (.*)


  #### Node Windows on AWS EC2 ####
  - job_name: "node-windows"
    ec2_sd_configs:
      - region: "ap-south-1"

    relabel_configs:
      # Keep only Windows instances
      - source_labels: [__meta_ec2_tag_OS]
        regex: windows
        action: keep

      # Windows exporter port mapping
      - source_labels: [__meta_ec2_private_ip]
        regex: (.*)
        replacement: ${1}:9182
        target_label: __address__

      # Instance name from EC2 name tag
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance_name

      # Add static labels for alerts
      - target_label: "Organisation_Id"
        replacement: "96"
      - target_label: "raiseOnBehalfOf"
        replacement: "priyeshrai.delhi@gmail.com"
      - target_label: "ClientName"
        replacement: "demo-client"
      - target_label: "cust_email_id"
        replacement: "priyeshrai.delhi@gmail.com"

      # maintenance tag passthrough
      - source_labels: [__meta_ec2_tag_maintenance]
        target_label: maintenance
        action: replace
        regex: (.*)

# Alert rules
rule_files:
  - "/etc/prometheus/EC2-alerts.yml"

# AlertManager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]