route:
  group_by: ['alertname', 'job', 'instance','severity']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 5h
  receiver: 'Haldia'

  # ROUTING LOGIC
  routes:
    # -----------------------------------------------------------
    # 1. SERVER GROUP: EC2-start10AM
    # -----------------------------------------------------------
    - match:
        schedule: '10AM_Start'
      receiver: 'Haldia'
      active_time_intervals:
        - business_hours_group1
      # mute_time_intervals:
      #   - maintenance_window_group1
    # -----------------------------------------------------------
    # 2. SERVER GROUP: EC2start
    # -----------------------------------------------------------
    - match:
        schedule: 'Generic_Start'
      receiver: 'Haldia'
      active_time_intervals:
        - business_hours_group2
    # -----------------------------------------------------------
    # 3. SERVER GROUP: EC2start9AM
    # -----------------------------------------------------------
    - match:
        schedule: '9AM_Start'
      receiver: 'Haldia'
      active_time_intervals:
        - business_hours_group3

    # -----------------------------------------------------------
    # 4. SERVER GROUP: EC2start10AM
    #    Uses: business_hours_group4
    # -----------------------------------------------------------
    - match:
        schedule: '10AM_Start_NoHyphen'
      receiver: 'Haldia'
      active_time_intervals:
        - business_hours_group4

    # -----------------------------------------------------------
    # 5. SERVER GROUP: QAEC2DBstart
    #    Uses: business_hours_group5
    # -----------------------------------------------------------
    - match:
        schedule: 'QA_DB_Start'
      receiver: 'Haldia'
      active_time_intervals:
        - business_hours_group5
#-----------------------------------------------------------------
#  routes:
    - match:
        alertname: HostMemoryTrouble
      receiver: 'Haldia'
    - match:
        alertname: HostMemoryTroubleResolved
      receiver: 'Haldia'
    - match:
        alertname: HostMemoryCritical
      receiver: 'Haldia'
    - match:
        alertname: HostHighCpuLoadTrouble
      receiver: 'Haldia'
    - match:
        alertname: HostHighCpuLoadCritical
      receiver: 'Haldia'
    - match:
        alertname: HostHighCpuLoadResolved
      receiver: 'Haldia'
    - match:
        alertname: HostHighSwapUsageTrouble
      receiver: 'Haldia'
    - match:
        alertname: HostHighSwapUsageCritical
      receiver: 'Haldia'
    - match:
        alertname: HostHighSwapUsageResolved
      receiver: 'Haldia'
    - match:
        alertname: DiskIOHighCritical
      receiver: 'Haldia'
    - match:
        alertname: DiskIOResolved
      receiver: 'Haldia'
    - match:
        alertname: HostDiskUtilizationTrouble
      receiver: 'Haldia'
    - match:
        alertname: HostDiskUtilizationCritical
      receiver: 'Haldia'
    - match:
        alertname: HostDiskUtilizationResolved
      receiver: 'Haldia'
    - match:
        alertname: HostDiskPartitionUsageTrouble
      receiver: 'Haldia'
    - match:
        alertname: HostDiskPartitionUsageCritical
      receiver: 'Haldia'
    - match:
        alertname: HostDiskPartitionUsageResolved
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceCPUTrouble
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceCPUCritical
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceCPUResolved
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceLowBurstBalanceTrouble
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceLowBurstBalanceCritical
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceBurstBalanceResolved
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceLowFreeableMemoryTrouble
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceLowFreeableMemoryCritical
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceFreeableMemoryResolved
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceHighConnectionCountTrouble
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceHighConnectionCountCritical
      receiver: 'Haldia'
    - match:
        alertname: RDSInstanceConnectionCountResolved
      receiver: 'Haldia'

    # Add more alertname and receiver configurations as needed

receivers:
  - name: 'Haldia'
    webhook_configs:
      - url: 'https://1iagdbxt8d.execute-api.ap-south-1.amazonaws.com/Prod/GraphanaWebhook'
        http_config:
          authorization:
            credentials: NzBkNDIxOTEwMmUyNDQyMzgxZGJhOWQ0YWM4ZTAzNDY=
        send_resolved: true

# Inhibition Rule to suppress trouble alerts when critical alerts are present
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'trouble'
    equal:
      - alertname

# ---------------------------------------------------
# TIME INTERVALS DEFINITION
# ---------------------------------------------------
time_intervals:
  # -------------------------------------------------------
  # GROUP 1: EC2-start10AM - EC2-stop9PM
  # Mon-Fri 09:37-17:30 IST => 04:07-12:00 UTC
  # -------------------------------------------------------
  - name: business_hours_group1
    time_intervals:
      - weekdays: ['monday:friday']
        times:
          - start_time: '04:07'
            end_time: '12:00'

  # - name: maintenance_window_group1
  #   time_intervals:
  #     - weekdays: ['monday:friday']
  #       times:
  #         - start_time: '04:06'
  #           end_time: '11:00'

  # -------------------------------------------------------
  # GROUP 2: EC2start - EC2stop
  # Mon-Fri 09:37-17:30 IST => 04:07-12:00 UTC
  # -------------------------------------------------------
  - name: business_hours_group2
    time_intervals:
      - weekdays: ['monday:friday']
        times:
          - start_time: '04:07'
            end_time: '12:00'

  # -------------------------------------------------------
  # GROUP 3: EC2start9AM - EC2stop11PM
  # Mon-Fri 09:07-23:00 IST => 03:36-17:30 UTC
  # -------------------------------------------------------
  - name: business_hours_group3
    time_intervals:
      - weekdays: ['monday:saturday']
        times:
          - start_time: '03:37'
            end_time: '17:30'

  # -------------------------------------------------------
  # GROUP 4: EC2start10AM - EC2stop10PM
  # Mon-Fri 10:07-22:00 IST => 04:37-16:30 UTC
  # -------------------------------------------------------
  - name: business_hours_group4
    time_intervals:
      - weekdays: ['monday:saturday']
        times:
          - start_time: '04:37'
            end_time: '16:30'

  # -------------------------------------------------------
  # GROUP 5: QAEC2DBstart - QAEC2DBstop
  # Mon-Fri 09:37-17:30 IST => 04:00-12:00 UTC
  # -------------------------------------------------------
  - name: business_hours_group5
    time_intervals:
      - weekdays: ['monday:friday']
        times:
          - start_time: '04:07'
            end_time: '12:00'