{{ define "serverdown.html" }}
<!DOCTYPE html>
<html>
<body>

<p>Dear PRIYESH RAI,</p>

<p>
Your resource with id <b>{{ .CommonLabels.instance_name }}</b> is in
<b>{{ .Status | toUpper }}</b> status. We have already raised a ticket, the ticket details are as follows:
</p>

<p>
<b>Ticket Id:</b> {{ .CommonLabels.ticket_id }}<br>
<b>Incident Reason:</b> Critical: Server {{ .CommonLabels.instance_name }} is down.
The possible reason for this incident is the server is not responding for the past 5 minutes.<br>
<b>Account Details:</b> {{ .CommonLabels.client }}<br>
<b>Tag Name:</b> {{ .CommonLabels.instance_name }}<br>
</p>

<p>Thanks<br>
Team Minfytech</p>

<p><i>*Note: This is an automated alert.*</i></p>

</body>
</html>
{{ end }}